<div
    class="modal"
    id="formModal"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    aria-hidden="true"
    data-component="extension-form-modal"
>
    <div class="modal-dialog modal-dialog-centered" data-extension-form-modal-target="modalDialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" data-extension-form-modal-target="title"></h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body" data-extension-form-modal-target="body"></div>
        </div>
    </div>
</div>